.slider {
	width: 100%;
	overflow: hidden;
	.slider-group {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		.slider-item {
			min-height: 150px;
			width: 100%;
			position: relative;
			text-align: center;
			overflow: hidden;
			float: left;
			> img {
				width: 100%;
			}
		}
	}
}